@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
.play-ground {
    --height: 1vmin;
    height: calc(100*var(--height));
    width: calc(100*var(--height));
    background: #75D5Fd;
    color: #75D5Fd;
    position: relative;
    .chess-board {
        position: absolute;
        top: calc(2*var(--height));
        left: calc(2*var(--height));
        height: 96%;
        width: 96%;
        display: grid;
        grid-template-rows: repeat(8, auto);
        grid-gap: calc(var(--height)/2);
        .row {
            display: grid;
            grid-template-columns: repeat(8, auto);
            grid-gap: calc(var(--height)/2);
            .cell {
                background: var(--body-background);
            }
        }
    }
    .top, .bottom, .left, .right {
        position: absolute;
        display: grid;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: calc(var(--height)*2);
            line-height: 100%;
        }
    }
    .top, .bottom {
        left: 2%;
        right: 2%;
        height: 2%;
        grid-template-columns: repeat(8,auto);
    }
    .top {
        top: 0;
    }
    .bottom {
        bottom: 0;
    }
    .left, .right {
        top: 2%;
        bottom: 2%;
        width: 2%;
        grid-template-rows: repeat(8,auto);
    }
    .left {
        left: 0;
    }
    .right {
        right: 0;
    }
    .chess-piece {
        font-family: 'STIX Two Math', serif;
        //display: none;
        position: absolute;
        top: calc((var(--i) * 100.5%  / 8) + 1%);
        left: calc((var(--j) * 100.5%  / 8) + 1%);
        //border: 1px solid;
        height: calc(var(--height)*78/8);
        width: calc(var(--height)*78/8);
        font-size: calc(10*var(--height));
        line-height: calc(10*var(--height));
        text-align: center;
        //cursor: grab;
        cursor: pointer;
    }
}
